body {
    background-color: rgb(236, 236, 236) !important;
}
.navbar{
    margin-bottom: 0px;
}
#header {
    margin-top: 50px;
    background-image: url(../img/jt.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    color: black;
}

#noticeBody{
	margin-top: 75px;
}
.noticias{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.search{
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

#publi {
  border-radius: 5px;
  width: 300px;
  float: right;
  margin:0px;
  padding: 0px;
}



#publiM {
  background-color: red !important;
  height: 90px;
}

.article{
  padding: 10px;
}

.description{
  width: 100%;
}
.noticeText {
  width: 65%;
  padding-right: 5%;
}
.noticeImg{
  float: right;
  width: 38%;
}
span .author{
    float: right;
}


.fa-facebook {
    color: #3b5998 !important;
}

.fa-twitter {
    color: #55ACEE !important;
}

.fa-instagram {
    color: #ff58b7 !important;
}

.author {
    float: right;
    margin-right: 2%;
}

article {
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
}
