body {
    background-color: rgb(230, 230, 230);
}
.navbar{
    margin-bottom: 0px;
}
#header {
    background-color: black;
    background-repeat: repeat-y;
    background-size: 100%;
    color: white;
}
.noticias{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.search{
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}



.article{
  padding: 10px;
}

.hr-title {
    display: none;
}

.description{
  width: 100%;
}


.noticeImg{
  width: 30%;
  float: right;
  margin-left: 5%;
}

span .author{
    float: right;
}

.fa-facebook {
    color: #3b5998 !important;
}

.fa-twitter {
    color: #55ACEE !important;
}

.fa-instagram {
    color: #ff58b7 !important;
}

.author {
    float: right;
    margin-right: 2%;
}

#publiM {
  background-color: red !important;
  height: 90px;
}
